In [4]:
!pip install pymongo dnspython

Requirement already satisfied: pymongo in /home/abdullahz/.local/lib/python3.8/site-packages (3.11.3)
Collecting dnspython
  Downloading dnspython-2.1.0-py3-none-any.whl (241 kB)
     |████████████████████████████████| 241 kB 6.1 MB/s eta 0:00:01
Installing collected packages: dnspython
Successfully installed dnspython-2.1.0

In [14]:
import pymongo
import dns
import pandas as pd 
import numpy as np

In [ ]:
#put in the string i sent over here
ATLAS_URI =

In [15]:
client = pymongo.MongoClient(ATLAS_URI)

In [16]:
db = client['ProjectsinProgramming']

In [18]:
yellowTaxiTable = db['YellowTaxi']
uberLyftTable = db['UberLyftStuff']

In [20]:
yellowTaxi_df = pd.DataFrame(list(yellowTaxiTable.find()))

In [21]:
yellowTaxi_df

,_id,fare_amount,pickup_datetime,passenger_count,distance
0,607f4b702e3d00277160f276,4.5,2009-06-15 17:26:21,1,1.03
1,607f4b702e3d00277160f277,16.9,2010-01-05 16:52:16,1,8.45
2,607f4b702e3d00277160f278,5.7,2011-08-18 00:35:00,2,1.39
3,607f4b702e3d00277160f279,7.7,2012-04-21 04:30:42,1,2.80
4,607f4b702e3d00277160f27a,5.3,2010-03-09 07:51:00,1,2.00
...,...,...,...,...,...
693065,607f4df12e3d0027716b85bf,9.7,2010-02-12 12:03:21,1,3.23
693066,607f4df12e3d0027716b85c0,23.7,2011-07-22 11:46:20,4,12.73
693067,607f4df12e3d0027716b85c1,4.5,2011-09-07 10:29:16,1,0.32
693068,607f4df12e3d0027716b85c2,6.5,2009-10-12 12:58:42,1,2.27
693069,607f4df12e3d0027716b85c3,6.9,2009-10-18 18:45:42,1,1.50

In [22]:
uberLyft_df = pd.DataFrame(list(uberLyftTable.find()))

In [23]:
uberLyft_df

,_id,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name
0,607f3e3d2e3d002771568a66,0.44,Lyft,2021-04-20 20:34:28,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared
1,607f3e3d2e3d002771568a67,0.44,Lyft,2021-04-20 20:34:28,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux
2,607f3e3d2e3d002771568a68,0.44,Lyft,2021-04-20 20:34:28,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft
3,607f3e3d2e3d002771568a69,0.44,Lyft,2021-04-20 20:34:28,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL
4,607f3e3d2e3d002771568a6a,0.44,Lyft,2021-04-20 20:34:28,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL
...,...,...,...,...,...,...,...,...,...,...,...
681995,607f41b42e3d00277160f271,2.83,Lyft,2021-04-20 20:34:28,West End,Fenway,16.5,1.0,56352238-e21b-4507-80d7-c1f985735b86,lyft_plus,Lyft XL
681996,607f41b42e3d00277160f272,2.83,Lyft,2021-04-20 20:34:28,West End,Fenway,19.5,1.0,90d15d2e-2a40-4c33-a914-4e28da5c3bb6,lyft_premier,Lux
681997,607f41b42e3d00277160f273,2.83,Lyft,2021-04-20 20:34:28,West End,Fenway,26.0,1.0,b73fcadd-b851-4383-9ae4-74a2afd79fb0,lyft_lux,Lux Black
681998,607f41b42e3d00277160f274,2.83,Lyft,2021-04-20 20:34:28,West End,Fenway,9.0,1.0,dc279ce6-c984-45fb-aeda-4bb271cdbade,lyft_line,Shared
681999,607f41b42e3d00277160f275,0.30,Uber,2021-04-20 20:34:28,North Station,North End,7.0,1.0,634c1ec5-5560-4f95-9157-d34a4ed8f30f,9a0e7b09-b92b-4c41-9779-2ad22b4d779d,WAV